@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");
@import "../scss/bootstrap.scss";

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  box-shadow: 2px 2px 5px $black;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.9);
}

.jumbotron {
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/coffee-shop-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vw;
}

p.lead {
  font-family: "Raleway", sans-serif;
}

#about {
  background: #e2c391;
}
.crop {
  object-fit: cover;
  max-height: 750px;
}

#baristas {
  background: #e2c391;
  .card-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
  }

  .card-overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card:hover {
    .card-img {
      opacity: 0.3;
    }
    .card-overlay {
      opacity: 1;
    }
  }
}

@media (max-width: 500px) {
  .jumbotron {
    h1 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .mb-resp {
    margin-bottom: 1rem;
  }
}
